<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855500334096-dlipq5nokps0o199rqtfgo9u5mrpo5if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855500334096-dlipq5nokps0o199rqtfgo9u5mrpo5if</string>
	<key>API_KEY</key>
	<string>AIzaSyAyuV2VwVyv0bVmIPQa3VCXzpxTTWZ1EDY</string>
	<key>GCM_SENDER_ID</key>
	<string>855500334096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.academy.Chad</string>
	<key>PROJECT_ID</key>
	<string>chad-2176f</string>
	<key>STORAGE_BUCKET</key>
	<string>chad-2176f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855500334096:ios:3f877dbc820dd637d69695</string>
</dict>
</plist>